<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }
    th, td {
        padding: 10px;
        text-align: center;
    }
    th {
        background-color: #1ed40d;
    }
    td {
        height: 80px;
        vertical-align: top;
    }
    form {
        margin-top: 20px;
    }
</style>
