body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
}
.boton-salir {
    display: block;
    width: 150px;
    margin: auto;
    padding: 10px;
    background-color: #ff2828;
    color: white;
    text-decoration: none;
    text-align: center;
    border-radius: 5px;
    position: absolute;
    top: 13px;
    left: 20px;
}

.boton-salir:hover {
    background-color: #b55050;
}

.container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.column {
    width: 30%;
    padding: 15px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.consulta {
    background-color: #f9f9f9;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    text-align: left;
}

h3 {
    color: #333;
    font-size: 1.2em;
}

.usuario {
    font-weight: bold;
    margin-top: 10px;
}

.estado {
    font-size: 0.9em;
    color: #888;
    margin-top: 10px;
}

.boton-responder {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.boton-responder:hover {
    background-color: #0056b3;
}

.boton-crear {
    display: block;
    width: 200px;
    margin: 30px auto;
    padding: 10px;
    background-color: #28a745;
    color: white;
    text-decoration: none;
    text-align: center;
    border-radius: 5px;
}

.boton-crear:hover {
    background-color: #218838;
}
