body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../images/fondo.jpg');
    background-size: cover;
    background-position: center;
    filter: blur(2px);
    z-index: -1;
}

.main-title {
    border: 1px solid white; /* Define el grosor y color del borde */
    padding: 5px; /* Espacio interno alrededor del texto */
    display: inline-block; /* Para que el borde se ajuste al tamaño del texto */
    color: #333; /* Color del texto del título */
    background-color: rgba(255, 255, 255, 0.8); /* Fondo semitransparente para mejor visibilidad */
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #2fa512; /* Verde de la barra superior */
    color: white;
}

.logo {
    width: 120px;
}

.navbar {
    background-color: #4CAF50; /* Color de fondo de la barra de navegación */
    padding: 10px 0; /* Espaciado interno */
    text-align: center;
    width: 100%;
}

.navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.navbar li {
    margin: 0 15px;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    position: relative;
}

.navbar a:hover {
    text-decoration: underline;
}

.navbar a span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    border-bottom: 2px solid #81C784; /* Línea verde claro al hacer hover */
    border-radius: 15px;
    transform: scale(0) translateY(50px);
    opacity: 0;
    transition: .5s;
}

.navbar a:hover span {
    transform: scale(1) translateY(0);
    opacity: 1;
}

/* Main content */
.content {
    padding: 20px;
    text-align: center;
    flex: 1;
}

.content h1 {
    color: #333;
    margin-bottom: 20px;
}

.content p {
    color: #666;
    margin-bottom: 20px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #2fa512; /* Verde para el botón */
    color: white;
    text-decoration: none;
    border-radius: 4px;
    font-weight: bold;
}

.btn:hover {
    background-color: #0dd839; /* Color de fondo más claro al pasar el mouse */
}

.main-footer {
    background-color: #2fa512; /* Verde de la barra de pie de página */
    color: white;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    margin-top: auto;
}

.suggestions-link {
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: #2fa512; /* Color de fondo */
    color: white; /* Color del texto */
    padding: 8px 12px; /* Espaciado interno */
    border-radius: 4px; /* Bordes redondeados */
    text-decoration: none; /* Sin subrayado */
    font-size: 14px; /* Tamaño de fuente */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); /* Sombra */
}

.suggestions-link:hover {
    background-color: #0dd839; /* Cambia el color al pasar el ratón */
}
