* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, html {
    height: 100%;
    font-family: Arial, sans-serif;
    overflow: hidden;
}

/* Fondo de pantalla con cambio de imágenes */
.background {
    position: fixed;
    width: 100%;
    height: 100%;
    animation: slideShow 14s infinite; /* Cambia cada 12 segundos */
    background-size: cover;
    background-position: center;
    z-index: -1;
}

.logo {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 100px; /* Ajusta el tamaño del logo */
}

/* Contenedor principal */
.container {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
    text-align: center;
    background: rgba(0, 0, 0, 0.5); 
}

h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

p {
    font-size: 1.2em;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #0056b3;
}

footer {
    background-color: #2fa512;
    color: white;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    margin-top: auto;
    position: absolute;
    bottom: 10px;
    font-size: 0.9em;
    margin-bottom: -1%;
    height: 40px;
}


/* Animación para cambiar de imagen */
@keyframes slideShow {
    0% { background-image: url('images/fondo.jpg'); }
    33% { background-image: url('images/fondo2.jpg'); }
    66% { background-image: url('images/fondo.jpg'); }
    100% { background-image: url('images/fondo.jpg'); } /* Vuelve a la primera imagen */
}
